@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #D92546;
    --color2: #F2B705;
    --color3: #F28705;
    --BtnAddColor: #2c0cb8;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
}


/*  */

header {
    display: block;
    background: #D92546;
    color: white;
    text-align: center;
}

header h1 {
    padding: 5px 10px;
    font: bold 4em monospace;
}

header nav {
    margin-top: 10px;
}

header nav span {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font: bold 20px arial;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

header nav span:hover {
    background: white;
    color: var(--color1);
    text-decoration: underline;
}

header .PesquiseBar {
    display: flex;
    margin: 5px 40px;
    justify-items: center;
}

header .inputPesquisa {
    display: inline-flex;
    margin: 10px;
    width: 85%;
    height: 3em;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

header .BtnPesquisa {
    background: none;
    border: none;
    margin: 10px;
    font-size: 2em;
    cursor: pointer;
    transform: translateY(-5px);
}

/* Carrocel */

.VitrineDestaque {
    overflow: hidden;
    height: 250px;
    
}

.ItensDestaque {
    display: flex;
    width: 400%;
    height: 100%;
}

.item {
    width: 25%;
    cursor: pointer;
}

div.ItemDestaque{
    width: 100%;
    height: 100%;
}

div.ItemDestaque img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.itemDaVez {
    margin-left: 0%;
    animation: carrocel 9s infinite;

}

@keyframes carrocel {
    0% {
        margin-left: 0%;
    }

    33% {
        margin-left: -25%;
    }

    66% {
        margin-left: -50%;
    }

    100% {
        margin-left: -75%;
    }

}

/* Itens Loja*/

.VitrinePrincipal {
    margin-top: 10px;
    padding: 5px;
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-around;
}

.VitrinePrincipal>.itemVitrine {
    display: block;
    margin-top: 10px;
    display: grid;
    width: 100%;
    min-height: 250px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    padding: 5px;
    ;
    font-size: 20px;
}

.itemVitrine img {
    background-size: cover;
    height: 100px;
    width: 100%;
}

button.BtnItem {
    background: var(--BtnAddColor);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button.BtnItem:hover {
    background: #338b0a;
    transition: 0.5s;
}

button.BtnItem:active {
    transform: scale(1.1);
}


/* Vitrine do Item escolhido */

.modalContainer {
    width: 100vw;
    height: 100vh;
    background: #00000033;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    display: none;
}

.Container {
    padding: 5px;
    width: 90%;
    height: 80%;
    background: white;
    border-radius: 10px;
}

.InfosContainer {
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    height: 90%;
    text-align: center;
    overflow: auto;


}

.InfosContainer p{
    margin-top: 5px;
}


.InfosImg {
    width: 100%;
    height: 60%;
}

.InfosImg img{
    width: 100%;
    height: 100%;
    background-size: cover;
}


.InfosContainer button.BtnItem {
    display: block;
    margin: auto;
    width: 90%;
    height: 30px;
    
}

.InfosQuantidade {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.InfosQuantidade .BtnQuantidade {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 25px;
    color: var(--color1);
    cursor: pointer;
}

.BtnQuantidade:active {
    transform: scale(1.2);
}

button.CloseModal {

    background: var(--color1);
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    
}

button.CloseModal.Item {
    margin: 0 95%;
}

button.CloseModal:active {
    transform: scale(1.2);
}


/* Carrinho */

.modalCarrinho {
    width: 100vw;
    height: 100vh;
    background: #00000033;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    display: none;
}

.CarrinhoContainer{
    padding: 5px;
    width: 80%;
    height: 90%;
    background: white;
    border-radius: 10px;
    display: grid;
    grid-row: 3;
}

.CarrinhoMenu{
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.CarrinhoItens{
    width: 90%;
    height: 70%;
    margin: 20px auto 10px;    
    overflow: auto;
}

.CarrinhoItem{
    display: grid;
    grid-row: 3;
    justify-items: center;
    padding: 10px;
    min-height: 100px;
    height: auto;
    border-bottom: 1px dashed black ;
    
}

.CarrinhoItemImg{
    display: block;
    min-width: 200px;
    max-width: 400px;
}

.CarrinhoItemImg img{
    width: 100%;
}

.CarrinhoItemInfos{
    margin-top: 10px;
    text-align: center;
    
}

.CarrinhoItemInfos p{
    margin: 5px 0px 2px;
}

.CarrinhoItemMenu button{   
    margin: 0px 20px;   
    font-size: 40px;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
}

button.BtnExc{
    color: var(--color1);
}

button.BtnEdit{
    color: var(--color3);
    
}

.BtnExc::before{
    content: '🗑';
}
.BtnEdit::before{
    content: '🖊';
}

button.BtnConfirm{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10%; 
    border: none;
    background: var(--BtnAddColor);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button.BtnConfirm:hover{
    background: #338b0a;
    transition: 0.7s;
}
button.BtnConfirm:active{
    transform: scale(1.2);
}

.ValorTotal{
    padding: 5px;
}

