@charset "UTF-8";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color1: #D92546;
    --color2: #F2B705;
    --color3: #F28705;
    --BtnAddColor: #42b80c;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
}

/*  */

header{
    display: block;
    background: #D92546;
    color: white;
    text-align: center;
}

header h1{
    padding: 5px 10px;
    font: bold 4em monospace;
}

header nav{
    margin-top: 10px;
    margin-bottom: 20px;
}

header nav a{
    display: inline-block;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font: bold 20px arial;
    color: white;
    border-radius: 5px;
}

header nav a:hover{
    background: white;
    color: var(--color1);
    text-decoration: underline;
}

header .PesquiseBar{
    display: flex;
    margin: 5px 40px;
    justify-items: center;
}

header .inputPesquisa{
    display: inline-flex;
    margin: 10px;
    width: 85%;
    height: 3em;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

header .BtnPesquisa{
    background: none;
    border: none;
    margin: 10px;
    font-size: 2em;
    cursor: pointer;
    transform: translateY(-5px);
}

/* Carrocel */

.VitrineDestaque{  
    overflow: hidden;
    height: 250px;
}

.ItensDestaque{
    display: flex;
    width: 400%;
    height: 100%;
}

.item{
    width: 25%;
}

div.ItemDestaque1{
    width: 100%;
    height: 100%; 
    background-image: url(../imagens/img1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.ItemDestaque2{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ItemDestaque3{ 
    width: 100%;
    height: 100%;
    background-image: url(../imagens/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.itemDaVez{
    margin-left: 0%;
    animation: carrocel 9s infinite ;
    
}

@keyframes carrocel {
    0%{
        margin-left: 0%;
    }

    33%{
        margin-left: -25%;
    }

    66%{
        margin-left: -50%;
    }

    100%{
        margin-left: -75%;
    }

}

/* Itens Loja*/

.VitrinePrincipal{
    margin-top: 10px;
    padding: 5px;
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-around;
}

.VitrinePrincipal > .item{
    display: block;
    margin-top: 10px;
    display: grid;
    width: 100%;
    min-height: 250px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
    padding: 5px;
    grid-template-rows: repeat(4, auto);
}

.item img{
    background-size: cover;
    height: 100px;
    width: 100%;
}

button.BtnItem{
    background: var(--BtnAddColor);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button.BtnItem:hover{
    background: #338b0a;
    transition: 0.5s;
}

button.BtnItem:active{
    transform: scale(1.1);
}
.item button.BtnItem::before{
    content: "Ver mais";
}


/* Vitrine do Item escolhido */

.modalContainer{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.199);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    display: none;
}


.Container{
    padding: 5px;
    width: 80%;
    height: auto;
    background: white;
    border-radius: 5px;
}

.InfosContainer{
    display: grid;
    grid-column: auto;
    text-align: center;
}

.InfosContainer  img{
    margin: 10px;
    width: 95%;
}

.InfosContainer p {
    font-size: 18px;
    margin-top: 10px;
}

.InfosContainer p.NomeItem{
    font: bold 18px arial;
}

.InfosContainer button.BtnItem{
    margin-top: 5px;
    padding: 5px;
    height: 50px;
}

button.CloseModal{
    margin: 0 90%;
    background: red;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    font-weight: bold;
    border: 1px solid black;
    color: white;
}

button.CloseModal:active{
    transform: scale(1.2);
}








