@charset "UTF-8";

@media screen and (min-width: 700px) {


    .VitrineDestaque {
        overflow: hidden;
        margin: auto;
        min-width: 800px;
        max-width: 1000px;
        height: 320px;
        border: 1px solid black;
    }

    div.ItemDestaque img {
        background-size: cover;

        background-repeat: no-repeat;
    }
    
    .VitrinePrincipal {
        margin: auto;
        grid-template-columns: repeat(3, 30%);
        width: 80%;
    }

    .VitrinePrincipal>.itemVitrine{
        min-height: 450px;
        
    } 

    .itemVitrine img {
        background-size: cover;
        height: 200px;
        width: 100%;
    }
    






    .CarrinhoItens{
        width: 90%;
        height: 70%;
        margin: 20px auto 10px;    
    }

    .CarrinhoItemMenu{
        display: flex;
    }
    
    .CarrinhoItem{
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        align-content: center;
        padding: 10px;
        min-height: 100px;
        height: auto;
        border-bottom: 1px dashed black ;     
    }


}